*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family:'roboto';
  src: url(../font/Roboto-Medium.ttf);
}
@font-face {
  font-family: 'gotham';
  src:url(../font/GothamBold.ttf) format('truetype') ;
  font-weight: normal;
  font-style: normal; 
}
:root{
  --blue: #1d75de ;
  --black: #121212 ;
  --background_gray: #efefef ;
  --green: #1ed760 ;
  --gray: #919496 ;
  --font: Gotham;
  --color-white: #fff;
  --color-social: #222326;

}
h1 ,h2{
  font-family: 'gotham';
}
p{
  font-family: 'roboto';
}

/*HEADER CONFIG*/
.img-index{
    width: 100%;
    height: 100%;
    background-image: url(../img/imgindex.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -50;
    text-align:center;
    align-content:center;
    padding: 10vw 0px;
    color: white;
}
.img-index h1{
    font-family: 'gotham', sans-serif;
    font-size: 8vw;
    /*padding-bottom: 80px;*/
}
a {
  color: #000000;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  color: var(--primary_color);
}
.logo > img{
  width: 100px;
}

/*HEADER CONFIG*/



/*CARD  FILM*/
.carousel {
  margin-top: 5rem;
    width: 100%;
} 
.carousel-item img {
    width: 100%;
    height: auto;
}
.carousel h1{
  margin: 0px 0rem 0.8rem 4rem;
}
.card{
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    gap: 0 20px;

}
.name-card{
  display: flex;
}
.card .itens{
    position: relative;
    background: white;
    min-width: 25rem;
    height: 35rem;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #00000033;
   
}
.card .itens img{
    width: 100%;
    height: 100%;
    transition: 0.6s ease-in;
    border-radius: 20px;
    object-fit: cover ;
}
.conteiner{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 0.9s;
    color: transparent;
    top: 19.5rem;
    display: flex;
    width: 100%;
}
.conteiner:hover{
    cursor: pointer;
}
.info{
  display: flex;
  flex-direction: column;
  margin: 30px 2rem 0px 2rem;
  gap: 20px;
}
.conteiner p{
    width: 100%;
    text-align: justify;
    margin-bottom: 5px;
}
.itens:hover img{
    width: 100%;
    height: 320px;
    
}
 .itens:hover .conteiner{
    display: block;
    color: #161623;
    opacity: 1;
    visibility: visible;

}
/*CARD  FILM*/



/*SLICK CONFIG*/
.slick-dots {
  display: flex;
  justify-content: center;
  list-style: none;

}
.slick-dots li button {
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  border: none;
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  font-size: 0px;

}
.slick-dots li.slick-active button {
  opacity: 1;
}
/*SLICK CONFIG*/



/*DIRETORES STYLE */
main a{
  text-decoration: none;
  color: black;
}
.card-diretores a {
  text-decoration: none;
  color: black;
}
.card a {
  text-decoration: none;
  color: black;
}
.card-diretores{
  position: relative;
  justify-content: center;
  /* grid-template-columns: 1fr 1fr 1fr;*/
  align-items: center;
  display: flex;
  box-shadow: 0px 0px 0px 0px #00000033;
}
.card-diretores .itens-diretores{
  position: relative;
  background: white;
  width: 390px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px #00000033;
}
.card-diretores .itens-diretores img{
  width: 390px;
  height: 250px;
  transition: 1s;
  border-radius: 10px;
  object-fit: none;
}
.conteiner-diretores{
  color: black;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  color: transparent;
  top: 15px;
  left: 15px;
}
.conteiner-diretores p{
  margin-top: 5px;
  font-size: 15px;
  text-align: justify;
  width: 350px;
}
.conteiner-diretores:hover{
  cursor: pointer;
}
.itens-diretores:hover img{
  width: 0px;
}
.itens-diretores:hover .conteiner-diretores{
  display: block;
  color: #161623;
  opacity: 1;
  visibility: visible;
  display:block;
}
/*DIRETORES STYLE */



/*FOOTER*/
footer{
  background-color: var(--black);
  color: var(--color-white);
  margin-top: 100px;
}
.footer-logo img{
  width: 6rem;
  margin: 50px 0px 0px 10px ;
}
#footer_cont{
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px;

}
.footer-caracts {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  font-family: Gotham;
  width: 100%;
  margin-bottom: 30px;
}
.footer-caracts h4{
  font-size: 13px;
  margin: 40px 0px 20px 0px;
  color: var(--gray);
}
.footer-caracts div{
  cursor: pointer;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-caracts div p:hover{
  color: var(--green);
}

.social_midias img{
  width: 2rem;
  border-width: 50px;
  border-right: 50px;
  cursor: pointer;
}
.apenas img{
  border-radius: 50%;
}
.social_midias{
  display: flex;
  gap: 20px;
  margin-top: 80px;
}
.social_midias div{
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: var(--color-social);

}
.finalzinho{
  font-family: Gotham;
  font-size: 10px;
  color: var(--gray);
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 0px 10px;
  
}
.elementos{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 60vw;
}
.finalzinho p:hover{
  color: var(--green);
}
.mundinho{
  margin-bottom: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.mundinho:hover{
  color: var(--green);
}
/*FOOTER*/



/*MEDIA SCREEN */
@media (max-width: 768px) {
  .img-index{
    width: 100%;
    height: 100%;
    padding: 25vw 0px;
}
.img-index h1{
    font-size: 8vw;
}
}

@media (min-width: 999px) {
  .img-index{
    width: 100%;
    height: 100%;
    padding: 15vw 0px;
}
footer{
  padding: 80px 0px 50px 0px;
}
.footer-caracts{
  width: 15vw;
}
#footer_cont{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  margin: 0px 10px;
  width: 100%;
}
.teste{
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
}
.social_midias {
  display: flex;
  gap: 20px;
  margin: 0px 0px 0px 50px;
}
.footer-logo img{
  width: 8rem;
  margin: 0px 20px 0px 10px ;
}
.finalzinho {
  font-size: 12px;
  margin: 100px 20px 0px 20px;
  align-items: center;
}
.direitos{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-end;
}
.footer-caracts h4{
  font-size: 13px;
  margin: 10px 0px 20px 0px;
  color: var(--gray);
}
}
@media (min-width: 1200px) {

  .img-index{
    width: 100%;
    height: 100%;
    padding: 13vw 0px;
}
.img-index h1{
  font-size: 6vw;

}
footer{
  padding: 80px 10vw 50px 10vw;
}
}

/*MEDIA SCREEN */